@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Word Counter!</h2>
<h4><a href="/repeatCounters/start">Start the word counter</a></h4>
<h4><a href="/words/WordScorer">Start the Scrabble Word scorer</a></h4>

