@{
    ViewData["Title"] = "Home Page";
}

<h2>Pick your application:</h2>
<h4><a href="/repeatCounters/start">Start the Word Counter</a></h4>
<h4><a href="/words/WordScorer">Start the Scrabble Word scorer</a></h4>

