@{ 
    ViewData["Title"] = "Count Page";
}
<h4>Your count results are:</h4>
<p class="result"> <span class="resultDetail"> @Model.GetWordToFind()</span> appears in <br><span class="resultDetail"> "@Model.GetStringToSearch()"</span> <br> <span class="resultDetail">@Model.GetWordCounter()</span> times</p>


