@{ 
    ViewData["Title"] = "Count Page";
}
<h4>Your count results are:</h4>
<p class="countResult"> <span class="userInput"> @Model.GetWordToFind()</span> appears in <br><span class=userInput> "@Model.GetStringToSearch()"</span> <br> <span class=userInput>@Model.GetWordCounter()</span> times</p>


